<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Time Sheets App</title>
{% load static %}
  
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.css' %}">


	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
	
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>
<div class="wrapper width">
  <div class="top">
  	<div class="welcome">Welcome back {{ request.user.username }}</div>
  </div>
  
  <ul class="navigation">
  	<li><a href="#" title="Home" class="float-left">Time Sheet Manager</a></li>
    {% if user.is_authenticated %}
  	<li><a href="{% url 'logout' %}" title="logout" class="float-right">Log Out</a></li>
    <li><a href="{% url 'timesheet_entry' %}" title="New Entry" class="float-right">New Entry</a></li>

  	{% if "AdminUsers" in grouplist %}
  	<li><a href="{% url 'timesheet_query' %}" title="Timesheet Query" class="float-right">Timesheet Query</a></li>
    <li><a href="{% url 'create_project' %}" title="New Project" class="float-right">New Project</a></li>
  	{% endif %}
    
    <li><a href="{% url 'home' %}" title="Home" class="float-right">Home</a></li>
    {% else %}
    <li><a href="{% url 'login' %}" title="login" class="float-right">Log In</a></li>
    {% endif %}
    <div class="clear"></div>
  </ul>
  
  <div class="body-wrapper">
   <div id="left-content" class="user-content">
     <section id="content">
      {% block content %} 
      {% endblock %}
     </section>
        
      <div class="clear"></div>
    </div>
  </div>
</div> 
</body>

</html>